/*



Theme Name: Socialize Child



Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Socialize WordPress theme. Only activate this child theme if you intend to make modifications to the theme otherwise activate the parent theme.



Version: 1.0



Author: GhostPool



Author URI: http://www.ghostpool.com



Template: socialize



*/







/* Add your own CSS code here */











/* Make rectangular profile avatars to circular */



img.avatar {



-webkit-border-radius: 50%;



-moz-border-radius: 50%;



-ms-border-radius: 50%;



-o-border-radius: 50%;



border-radius: 50%;



-webkit-box-shadow: 0 1px 0 #fff;



-moz-box-shadow: 0 1px 0 #fff;



box-shadow: 0 1px 0 #fff;



}















/* Increase size of the smaller avatar*/







#buddypress .activity-list li.mini .activity-avatar img.avatar, #buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {



height: 50px;



margin-left: 0px;



width: 50px;



}







/*



register.gp-responsive .gp-container {



  width: 900px;



  }







*/







/* make activity steam black in color */







.gp-theme #buddypress #activity-stream p { color: black; }







/*



.gp-responsive .gp-container {



     width: 75%; 



     



 */















body.register #buddypress {



width: 90%;



margin-left: auto;



margin-right: auto;



}











.padderwide { padding: 20px; }







/*



#buddypress #header-cover-image {height: 350px;}



*/







.gp-theme #buddypress div.activity-meta a.button {



 font-size: 9px;}











#buddypress #reply-title small a, #buddypress a.bp-primary-action {



    font-size: 60%;}







#buddypress a.bp-secondary-action, #buddypress span.highlight {



    font-size: 60%;}











.bpfb_form_container {



    background-color: #FFFFFF;



    



}











#gp-share-icons {display: none;}











.gp-theme.widget.buddypress #members-list li{



    border-bottom: 5px solid #e0e0e0;



    border-top: 1px solid #e0e0e0;



}







.gp-theme #buddypress span.activity {



    display: none;



}











#buddypress #item-header-cover-image #item-header-avatar {



    margin-top: 20px;











}







#buddypress div#item-header div#item-meta {



    display: none;



}











#avatar-crop-pane { border-radius: 50%; }











#buddypress #header-cover-image {height: 196px;}







/* activity styling 



UL.activity-list LI







{







padding: 20px 0 0;







overflow: hidden;







}







UL.activity-list>LI:first-child







{







padding-top: 5px;







}







UL.activity-list>li:nth-child(even)







{







background-color: #EFEFEF;







border-bottom: 1px solid #D5D5D5;







border-top: 1px solid #f4f4f4;







} 



*/





.registration #gp-left-column {

  float: none;

}

.registration.gp-responsive #gp-content {

  float: none;

  margin: 0 auto;

}









/* jan 13 updates*/
#buddypress .wp-editor-wrap a.button, #buddypress .wp-editor-wrap button, #buddypress .wp-editor-wrap input[type="button"], #buddypress .wp-editor-wrap input[type="reset"], #buddypress .wp-editor-wrap input[type="submit"] {
  padding: 0 8px 1px;
}
#eab-events-fpe > div {
  padding-bottom: 15px;
}
#eab-events-fpe #eab-events-fpe-event_title {
  font-size: 18px;
}
#wp-eab-events-fpe-content-editor-tools {
  padding: 0 0 0px;
}
.createEventForm {
  margin: 0 -15px;
}
#eab-events-fpe .eventTitle > input#eab-events-fpe-event_title,
.end-events-fpe-date .datebox,
.start-events-fpe-date .datebox,
.createEventForm .createRightBox {
  border-radius: 0;
  float: left;
  width: 80%;
}
.start-events-fpe-date{
  margin-bottom: 8px;
}

.eventTitle > label,
.start-events-fpe-date label,
.end-events-fpe-date label,
.createEventForm .eab-events-fpe-status_type label,
.createEventForm label {
  background: transparent; none repeat scroll 0 0;
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  width: 20% !important;
}
.clearfix {
  clear: both;
}

#wp-eab-events-fpe-content-wrap {
  float: right;
  margin-right: 0;
  width: 80%;
}
.eventMetaInfo .eab-events-fpe-meta_box {
  float: none;
  width: 100%;
}
.eab-upcoming_calendar_widget .eab-has_events {
  font-weight: bold;
}
.createEventForm input[type="text"],
.createEventForm input[type="email"],
.createEventForm input[type="password"],
.createEventForm select {
  height: 40px;
  border-radius:0px;
}
.mce-widget.mce-btn button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  padding: 0 !important;
}
.createFieldBlock {
  margin-bottom: 15px !important;
}
.createEventForm .eab-events-fpe-meta_box{
  padding:0px;
}
.createEventForm .eab-events-fpe-col_wrapper{
  margin: 0;
}
#buddypress .html-active button.switch-html, #buddypress .tmce-active button.switch-tmce {
  border-bottom: 2px solid #ffffff !important;
  border-style: solid !important;
  border-width: 1px 1px 2px !important;
  bottom: -1px !important;
  color: #000000;
  display: inline-block;
  position: relative;
}
#buddypress button.switch-html, #buddypress button.switch-tmce {
  border-color: #000000 !important;
  border-style: solid !important;
  border-width: 1px !important;
}
.quicktags-toolbar .ed_button,#insert-media-button {
  background: #000000 none repeat scroll 0 0 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.quicktags-toolbar .ed_button:hover,
#insert-media-button:hover {
  background: #353535 none repeat scroll 0 0 !important;
  border-color: #353535 !important;
}
#eab-event-cancel_event {
  margin-top: 15px;
}
.createEventForm #eab-events-fpe-ok_cancel {
  float: right;
  text-align: left;
  width: 80%;
}
.createEventForm #eab-events-fpe-ok_cancel input.button,
 .createEventForm #eab-event-cancel_event {
  font-size: 14px;
  height: 40px;
  line-height: 21px;
  margin-right: 10px;
  padding: 10px 20px !important;
}

.eventEditorWrap .quicktags-toolbar,
.eventEditorWrap #eab-events-fpe-content,
.eventEditorWrap .mce-toolbar-grp,
.eventEditorWrap .mce-edit-area {
  border: 1px solid #dedede !important;
}
.eventEditorWrap #eab-events-fpe-content,
.eventEditorWrap .mce-edit-area {
  border-width: 0px 1px 1px 1px !important;
}
#buddypress .createEventForm .wp-editor-container,
.eventEditorWrap div.mce-statusbar {
  border:0px!important;
} 
.createEventForm .wp-switch-editor {
  background: #000000 none repeat scroll 0 0;
  border: 1px solid #000000;
  box-sizing: content-box;
  color: #ffffff;
}
#eab_event-bp-group_event {
  margin-left: 14px;
}
.singleEventPage #wpmudevevents-left {
  float: none;
  width: 100%;
}
.singleEventPage #wpmudevevents-right {
  float: none;
  width: 100%;
}
.singleEventPage #wpmudevevents-right .agm_google_maps, 
.singleEventPage #wpmudevevents-right .agm_google_maps > div {
  width: 100% !important;
}
.singleEventPage #wpmudevevents-attending {
  padding: 0 15px;
}
.singleEventPage #wpmudevevents-attending form input {
  margin-left: 5px;
}
.singleEventPage #wpmudevevents-attending form input[type="submit"]:hover{
  color: #444;
}
.singleEventPage .wpmudevevents-header {
  padding: 5px 10px;
}

span.activity-bold {
  font-weight: 500;
}
#why-panel, #why-flip {
  background-color: #1e73be;
  border: 2px solid #c3c3c3;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

#why-panel {
    padding: 50px;
    display: none;
}
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content, body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
  color: #ffffff;
  margin-top: 75px;
}
#buddypress div#item-header ul li {
  margin-right: 25px;
}
.type-bp_group .gp-entry-header h1.gp-entry-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -webkit-text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.type-bp_group .gp-entry-header {
  clear: both;
  left: 210px;
  margin: 0 auto 37px;
  overflow: hidden;
  position: absolute;
  top: 95px;
  z-index: 1;
}
.group-create .type-bp_group .gp-entry-header {
  clear: none ;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 1;
}
/*div#item-buttons .leave-group{
  margin-top: 30px;
}*/

/* March 1, 2016 */
.gp-theme #buddypress #groups-list.item-list li .gp-group-box, .gp-theme #buddypress #groups-list.item-list li .gp-group-box{
  width: 240px;
}
#item-header-cover-image > div{
  float: left;
}
/*.gp-entry-content #buddypress div#item-header-cover-image h2{
  padding: 42px 0 0;
}*/
#gp-content .gp-entry-content #buddypress ul.item-list li div.action {
  bottom: 0;
  display: inline-block;
  right: 0;
  margin: 0;
  width: 100%;
}
.gp-theme #buddypress #groups-list.item-list li a img{
  margin: 0 auto;
  float: none;

}
#buddypress .item-list li button.follower,
#buddypress .item-list li button.unfollower {
  bottom: 56px;
  height: 44px;
  padding: 0 8px;
  position: absolute;
}
.gp-theme #groups-list .item-avatar .group-button{
  float: right;
}

body.page-id-38 #gp-content {
  max-width: 100%;
  width: 750px;
}
#buddypress #register-page .register-section label {
  font-size: 13px;
  font-weight: 400;
  margin: 2px 0 0;
}
#buddypress #register-page .register-section input[type="text"],
#buddypress #register-page .register-section input[type="email"],
#buddypress #register-page .register-section input[type="password"] {
  border-radius: 2px;
  height: 34px;
  padding: 0 15px;
  width: 100%;
}


body.single-item.groups #buddypress div#item-header a.button, #buddypress div#item-header div.generic-button {
  margin: 30px 10px 0 0;
}
body.activity.bp-user.my-activity #buddypress div#item-header div.generic-button {
  margin-right:10px;
  margin-top:0px;
}
#gp-mobile-nav-close-button {
  background-color: #1e73be !important;
}
#why-panel {
 padding: 0 !important;
}
.location-sport > span {
  font-size: 20px !important;
  /*margin-left: 75px;*/
  position: relative;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  top: 30px;
}

/* added 03-21-2016 */


/*#buddypress #activity-stream {
  margin-top: -65px !important;
}*/
#item-header-avatar > a {
  border-radius: 100%;
  display: block;
  width: 200px;
}
#buddypress #item-header-cover-image #item-header-avatar img.avatar {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  border: 2px solid #ffffff;
  height: 150px;
  width: 150px;
}
.group-create .type-bp_group .gp-entry-header h1.gp-entry-title {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
  text-shadow: none;
}
.gp-theme #buddypress form#whats-new-form #whats-new-content {
  padding-bottom: 0 !important;
}
.bpfb_form_container {
  background-color: #ffffff;
  padding: 0px !important;
}

.gp-theme #buddypress div.item-list-tabs ul li a, .gp-theme #buddypress div.item-list-tabs ul li span {
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
}
.follower_team {
  margin-top: 28px;
}
.unfollower_team {
  margin-top: 28px;
}
@media screen and (max-width: 782px) {
  .gp-theme #buddypress div#item-header {
  margin-bottom: 20px;
  background-color: #C5C5C5;
  text-align: center;
  }
.type-bp_group .gp-entry-header {
  background-color: #c5c5c5;
  clear: both;
  left: 0;
  margin: 0 auto !important;
  overflow: hidden;
  padding: 20px 0 5px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content, body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
  color: #ffffff;
  margin-top: 0px;
}
#buddypress div#item-header img.avatar {
  float: none;
  margin: 0 15px 19px 0;
}


}

